.body-container {
    background-color: #292C2D;
    height: calc(100vh - 60px);
    padding: 25px;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.text-health{
    color: red;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.text-sanity{
    color: blue;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.text-effort{
    color: yellow;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.text-timer{
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.text-attribute{
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.text-money{
    color: gold;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.text-class{
    color: violet;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.text-level{
    color: lime;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.agathinha{
    width: 300px;
    height: 300px;
}
.skill-shop {
    width: 300px;
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-left: 20px;
}
.skill-shop h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #333;
  }
  
.skill-shop ul {
    list-style: none;
    padding: 0;
  }
  
.skill-shop li {
    background: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
.skill-shop li:hover {
    background: #e6f7ff;
  }
  .side-panel {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.escolha-classe {
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.escolha-classe h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.escolha-classe button {
  margin: 5px 0;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #ddd;
  transition: background 0.3s ease;
}

.escolha-classe button:hover {
  background-color: #ccc;
}